<img src="../../../assets/images/logo1.png" style=" height: 45px; position: absolute; left: 86%;top: 2%; " alt=""> 

<div class="container mt-5">
    <div class="mb-5 text-start">
        <h2  style="margin-left: 20px;color: #001f54;"> Monthly Billing</h2>
        <hr style="margin-left: 20px;">
    </div>
    <form>
        <div class="row align-items-top" >
            <div class="col-md-4 w-50">
                <label for="tenantName" class="form-label text-gray">Select Tenant Name</label>
                <select class="form-select w-100" id="tenantName" [(ngModel)]="selectedTenantId" name="tenantName" required
                    [ngClass]="{ 'is-invalid': showErrors && !selectedTenantId }">
                    <option value="" selected disabled>Select a Tenant</option>
                    <option *ngFor="let tenant of tenants" [value]="tenant.id">{{ tenant.name }}</option>
                </select>
                <div *ngIf="showErrors && !selectedTenantId" class="invalid-feedback">
                    This field is required.
                </div>
            </div>
            <div class="col-md-4 w-50">
                <label for="billingMonth" class="form-label text-gray">Select Month</label>
                <input type="month" class="form-control w-100" id="billingMonth" [(ngModel)]="selectedMonth"
                    name="billingMonth" required [ngClass]="{ 'is-invalid': showErrors && !selectedMonth }"/>
                <div *ngIf="showErrors && !selectedMonth" class="invalid-feedback">
                    Please select a month.
                </div>
            </div>
            <div class="col-md-4 text-center w-100" style="margin-top: 32px; ">
                <button type="button" class="btn btn-navy w-100 px-4" (click)="exportBill()">Export Bill</button>
            </div>
        </div>
    </form>
</div>
